
body {
background-image: url(bg1.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.logo {
  width: 30px;
  height: 30px;
}

.logo1{
  height: 100px;
}

#heading{
  margin-top: 100px;
}

h1 {
  color: #FAEBD7;
  font-family: cursive;
  
}

#donate{
  margin-top:50px;
  padding: 10px;
  width: 350px;
  height: 250px;
  border-radius: 15px;
  background-color: rgba(230, 190, 80, 0.699);
}

#donate1{
  margin-top: 50px;
  padding: 10px;
  width: 350px;
  height: 475px;
  border-radius: 15px;
  background-color: rgba(230, 190, 80, 0.699);
}

label {
 font-weight: bolder;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


q{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
}

.donatebtn{
  text-align: center;
  font-family: cursive;
  margin-top: 50px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 15px;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 2px;
  padding-bottom: 5px;
  color: #FAEBD7;
  background-color:#AA6C39;
}

.footer{
  background-color: rgb(52,58,64);
  color: #FAEBD7;
  font-size: 18px;
  text-align: center;
  height: 35px;
  margin-top: 138px;
  padding-top: 5px;
}
